.navbar-dark {
    background-color: #6c757d;
}

@media (max-width: 992px) {
    .sidebar {
        display: none;
    }
}

#optionsCollapse {
    margin-top: 0;
}
.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}